.header {
    padding: 0 2rem 0 2rem;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
}